@use '../../assets/scss/mixins';

.nest {
  margin: 42px 0 0;
  &__header {
    padding: 0 24px;
    user-select: none;
    h1 {
      margin: 0;
      text-align: center;
      font-family: var(--font-eng);
      font-size: 32px;
      line-height: 1;
      letter-spacing: -.5px;
      font-weight: 600;
      color: var(--color-edge);
    }
  }
  &__categories {
    margin: 16px 0 0;
  }
  &__body {
    margin: var(--size-body-top, 0) 0 0;
  }
  &__paginate {
    margin: 24px 0 0;
  }
  @include mixins.responsive(mobile-large) {
    --size-body-top: 24px;
    &__items {
      padding: 0 24px;
    }
  }
  @include mixins.responsive(tablet) {
    margin-top: 64px;
    &__header {
      padding: 0 52px;
      h1 {
        font-size: 42px;
      }
    }
    &__categories {
      margin-top: 8px;
      padding: 0 24px;
    }
    &__items {
      padding: 0 48px;
    }
    &__paginate {
      margin-top: 42px;
    }
  }
  @include mixins.responsive(desktop) {
    &__categories {
      padding: 0 48px;
    }
    &__items {
      padding: 0 64px;
    }
  }
  @include mixins.responsive(max) {
    &__categories {
      padding: 0 64px;
    }
    &__items {
      padding: 0 78px;
    }
  }
}
