@use '../../../assets/scss/mixins';

.categories {
  &__button {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    gap: 12px;
    background-color: hsl(0 0% 90%);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    color: var(--color-text);
    height: 44px;
    appearance: none;
    width: 100%;
    text-align: left;
    border: none;
    &:focus-visible {
      outline: 2px solid var(--color-key);
      outline-offset: -2px;
    }
    span {
      display: block;
      font-family: var(--font-eng);
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -.25px;
      word-break: break-all;
      @include mixins.text-single-line();
    }
    :global(> .icon) {
      display: block;
      margin-right: -3px;
      --icon-size: 22px;
      transform: rotateX(0deg);
      transition: transform 160ms ease-out;
    }
  }
  &__index {
    display: var(--categories-index-display, none);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0;
    padding: 16px 0;
    list-style: none;
    background-color: hsl(0 0% 94%);
    box-sizing: border-box;
    user-select: none;
    li {
      min-width: 0;
    }
    a {
      display: block;
      padding: 8px 16px;
      gap: 6px;
      font-family: var(--font-eng);
      font-size: 13px;
      font-weight: 400;
      color: var(--color-text);
      text-decoration: none;
      letter-spacing: -.25px;
      -webkit-tap-highlight-color: transparent;
      box-sizing: border-box;
      line-height: 1.25;
      @include mixins.text-single-line();
      &:active {
        opacity: .5;
      }
      &:focus-visible {
        outline: 2px solid var(--color-key);
        outline-offset: -2px;
      }
    }
    span {}
    em {
      font-style: normal;
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
    li.on {
      a {
        color: var(--color-key);
      }
    }
  }
  &.active {
    --categories-index-display: grid;
    .categories {
      &__button {
        background-color: hsl(0 0% 90%);
        :global(> .icon) {
          transform: rotateX(180deg);
        }
      }
    }
  }
  @include mixins.responsive(tablet) {
    --categories-index-display: flex;
    &__button {
      display: none;
    }
    &__index {
      flex-wrap: wrap;
      justify-content: center;
      background: none;
      padding: 0;
      a {
        padding: 2px 6px;
        font-size: 12px;
        height: auto;
        line-height: 1.15;
        &:hover {
          text-decoration: underline;
        }
        &:active {
          opacity: 1;
        }
        &:focus-visible {
          outline-offset: 0;
        }
      }
    }
    &.active {
      .categories {
        &__index {
          display: flex;
        }
      }
    }
  }
  @include mixins.dark-mode() {
    &__button {
      background-color: hsl(0 0% 8%);
    }
    &__index {
      background-color: hsl(0 0% 10%);
    }
    &.active {
      .categories {
        &__button {
          background-color: hsl(0 0% 8%);
        }
      }
    }
    @include mixins.responsive(tablet) {
      &__index {
        background-color: transparent;
      }
    }
  }
}
