@use '../../../assets/scss/mixins';

.items {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(var(--items-column, 1), 1fr);
  grid-gap: var(--items-gap, 16px);
  @include mixins.responsive(mobile-large) {
    grid-template-columns: repeat(var(--items-column, 2), 1fr);
  }
  @include mixins.responsive(desktop) {
    grid-template-columns: repeat(var(--items-column, 4), 1fr);
    grid-gap: var(--items-gap, 20px);
  }
  @include mixins.responsive(max) {
    grid-gap: var(--items-gap, 30px);
  }
}
