@use '../../../assets/scss/mixins';

.item {
  box-sizing: border-box;
  min-width: 0;
  &__wrap {
    display: block;
    text-decoration: none;
    padding: 0 0 8px;
    -webkit-tap-highlight-color: transparent;
  }
  &__image {
    position: relative;
    margin: 0;
    overflow: hidden;
    background: hsl(0 0% 94%);
    aspect-ratio: var(--item-ratio, 16 / 9);
    box-sizing: border-box;
    user-select: none;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 100%;
      transform: translate(-50%, -50%) scale(1);
      transform-origin: 50% 50%;
      transition: transform 200ms ease-out 50ms;
      @supports (object-fit: cover) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
      }
    }
    svg {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 48px;
      height: 48px;
      color: var(--color-text-blur);
      opacity: .75;
      stroke-width: .75;
    }
    &:active {
      img {
        transform: scale(1.05);
      }
    }
  }
  &__body {
    padding: 12px 20px 0;
    text-align: center;
    strong {
      display: block;
      font-size: .875rem;
      color: var(--color-text);
      font-weight: 600;
      line-height: 1.25;
      @include mixins.text-single-line();
    }
    span {
      display: block;
      margin: 0;
      font-family: var(--font-eng);
      font-size: .625rem;
      color: var(--color-text-blur);
    }
    em {
      font-style: normal;
      &:nth-child(n+2) {
        &:before {
          content: ' / ';
        }
      }
    }
  }
  @include mixins.responsive(mobile-large) {
    &__image {
      border-radius: 2px;
      aspect-ratio: var(--item-ratio, 6 / 4);
    }
    &__body {
      padding: 8px 0 0;
      text-align: left;
    }
  }
  @include mixins.responsive(tablet) {
    &__wrap {
      &:hover {
        .item__image {
          img {
            transform: scale(1.1) translate(-45%, -45%);
            @supports (object-fit: cover) {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    &__image {
      box-sizing: border-box;
      overflow: hidden;
      transform: translateZ(0);
      img {
        transition: transform 300ms ease-out;
        transform-origin: 50% 50%;
        backface-visibility: hidden;
      }
    }
  }
  @include mixins.dark-mode() {
    &__image {
      background: #111;
    }
  }
}
