@import "../variables";


.loading {
	$size: 100px;
	$size-body: 50px;

	display: block;
	position: fixed;
	z-index: 999999;
	left: 50%;
	top: 50%;
	width: $size;
	height: $size;
	margin: -#{$size * .5} 0 0 -#{$size * .5};
	background: none;

	.spinner {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -#{$size-body * .5} 0 0 -#{$size-body * .5};
		width: $size-body;
		height: $size-body;
		background-color: $color-key;
		-webkit-animation: loading 1.2s infinite ease-in-out;
		animation: loading 1.2s infinite ease-in-out;
	}

}