$dir: '../fonts';

/**
 * Astro font
 * 30(light), 45(regular), 60(medium), 75(bold), 90(black)
 */
@font-face {
  font-family: 'ortsa';
  font-style: normal;
  font-weight: 300;
  src: url('#{$dir}/ortsa/ortsaWeb-30.woff2') format('woff2');
}
@font-face {
  font-family: 'ortsa';
  font-style: normal;
  font-weight: 400;
  src: url('#{$dir}/ortsa/ortsaWeb-45.woff2') format('woff2');
}
@font-face {
  font-family: 'ortsa';
  font-style: normal;
  font-weight: 500;
  src: url('#{$dir}/ortsa/ortsaWeb-60.woff2') format('woff2');
}
@font-face {
  font-family: 'ortsa';
  font-style: normal;
  font-weight: 600;
  src: url('#{$dir}/ortsa/ortsaWeb-75.woff2') format('woff2');
}
@font-face {
  font-family: 'ortsa';
  font-style: normal;
  font-weight: 900;
  src: url('#{$dir}/ortsa/ortsaWeb-90.woff2') format('woff2');
}

/**
 * Arita-buri
 * 200(Hairline), 300(Light), 400(Medium), 500(SemiBold), 600(Bold)
 */
@font-face {
  font-family: 'AritaBuri';
  font-style: normal;
  font-weight: 200;
  src: url('#{$dir}/Arita-buri/Arita-buri-200.woff2') format('woff');
}
@font-face {
  font-family: 'AritaBuri';
  font-style: normal;
  font-weight: 300;
  src: url('#{$dir}/Arita-buri/Arita-buri-300.woff2') format('woff');
}
@font-face {
  font-family: 'AritaBuri';
  font-style: normal;
  font-weight: 400;
  src: url('#{$dir}/Arita-buri/Arita-buri-400.woff2') format('woff');
}
@font-face {
  font-family: 'AritaBuri';
  font-style: normal;
  font-weight: 500;
  src: url('#{$dir}/Arita-buri/Arita-buri-500.woff2') format('woff');
}
@font-face {
  font-family: 'AritaBuri';
  font-style: normal;
  font-weight: 600;
  src: url('#{$dir}/Arita-buri/Arita-buri-600.woff2') format('woff');
}


