@import "../variables";
@import "../mixins";


.about {
	$wrap-padding: 50px;

	max-width: $size-article + ($wrap-padding * 2);
	margin: 0 auto;
	padding: 0 $wrap-padding;

	&__header {
		p {
			margin: 0 0 -6px 2px;
			color: #888;
			font-size: 11px;
		}
		h1 {
			margin: 0;
			font-size: 40px;
			font-weight: 200;
			letter-spacing: -1px;
		}
	}
	&__profile {
		margin: 40px 0 0;
		padding: 0 40px;
		img {
			display: block;
			margin: 0 auto;
			width: 240px;
			max-width: 100%;
		}
	}
	&__description {
		margin: 30px 0 0;
		p {
			margin: 0;
			font-size: 14px;
			line-height: 1.64;
		}
	}
	&__metas {
		margin: 40px 0 0;
		overflow: hidden;
		> div {
			margin: 0 -15px;
			&:after {
				content: '';
				display: table;
				clear: both;
			}
		}
		section {
			width: 50%;
			float: left;
			margin: 0 0 40px;
			padding: 0 15px;
			> h1 {
				margin: 0;
				font-size: 20px;
				letter-spacing: -.5px;
				font-weight: 500;
				&:after {
					content: '';
					display: block;
					width: 12px;
					height: 1px;
					background: #111;
				}
			}
			> dl {
				margin: 15px 0 0;
				font-size: 12px;
				line-height: 20px;
				> dt, > dd {
					padding-top: 6px;
				}
				> dt {
					float: left;
					width: 90px;
					color: #666;
				}
				> dd {
					margin: 0 0 0 90px;
				}
			}
		}
	}

	@media screen and (max-width: $size-article) {
		&__metas {
			> div {
				margin: 0;
			}
			section {
				float: none;
				width: auto;
				padding: 0;
			}
		}
	}
	@media screen and (max-width: $size-mobile) {
		padding: 30px 20px 0;

		&__header {
			p {
				margin: 0 0 -4px 2px;
				font-size: 11px;
			}
			h1 {
				font-size: 24px;
				letter-spacing: 0;
			}
		}
		&__profile {
			margin: 30px 0 0;
			img {
				width: 120px;
			}
		}
		&__metas {
			section {
				margin: 40px 0 0;
				&:first-child {
					margin-top: 0;
				}
				> dl {
					margin: 10px 0 0;
					> dt, > dd {
						padding-top: 0;
					}
					> dt {
						margin-top: 12px;
						float: none;
						width: auto;
						font-weight: 500;
						font-size: 15px;
						color: #111;
					}
					> dd {
						margin: 4px 0 0;
					}
				}
			}
		}
	}

}
