@import "../variables";
@import "../mixins";


.article {
	$wrap-padding: 100px;

	position: relative;
	max-width: $size-article + ($wrap-padding * 2);
	margin: 0 auto;
	padding: 0 $wrap-padding;

	&__header {
		text-align: left;
		&:after {
			content: '';
		}
		p {
			margin: 0 0 3px 0;
			font-size: 0;
			color: #888;
			span {
				display: inline-block;
				font-size: 11px;
				&:before {
					content: '/';
					display: inline-block;
					margin: 0 2px 0 0;
				}
				&:first-child:before {
					display: none;
				}
			}
		}
		h1 {
			margin: 0;
			font-size: 40px;
			font-weight: 200;
			letter-spacing: -1px;
			line-height: 1.1;
		}
	}
	&__body {
		margin: 40px auto;
		> *:first-child {
			margin-top: 0 !important;
			> *:first-child {
				margin-top: 0 !important;
			}
		}
		> *:last-child {
			margin-bottom: 0 !important;
			> *:last-child {
				margin-bottom: 0 !important;
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	&__control {
		margin: 0;
		text-align: center;
		.onLike {
			display: block;
			margin: 0 auto;
			padding: 12px 20px 10px;
			border: none;
			cursor: pointer;
			border-radius: 0;
			background: none;
			&:focus {
				outline: $border-focus;
			}
			em {
				display: block;
				margin: 6px 0 0;
				font-style: normal;
				font-size: 10px;
				color: #999;
			}
			&__icon {
				display: block;
				margin: 0 auto;
				width: 28px;
				-webkit-transition: -webkit-transform .3s cubic-bezier(.24,1.35,.8,1.22);
				transition: transform .3s cubic-bezier(.24,1.35,.8,1.22);
				path {
					fill: $color-key;
					transition: fill .15s ease-out;
				}
			}
			&:active {
				.onLike__icon {
					-webkit-transform: scale(1.4);
					transform: scale(1.4);
				}
			}
			&-on {
				cursor: default;
				.onLike__icon {
					path {
						fill: #aaa;
					}
				}
				&:focus {
					outline: none;
				}
				&:active {
					.onLike__icon {
						transform: none;
					}
				}
			}
		}
	}
	&__empty {
		padding: 15vh 0;
		text-align: center;
		img {
			display: block;
			margin: 0 auto;
		}
		p {
			margin: 15px 0 0;
			font-size: 16px;
			color: #111;
			font-weight: 400;
		}
	}

	.article-body-basic,
	.article-body-markdown {
		font-size: 15px;
		line-height: 1.64;

		img {
			display: block;
			margin: 30px auto;
			max-width: 100%;
		}
		p, figure, pre, blockquote, ul, ol, dl, table {
			margin: 15px 0;
		}
		h4, h5, h6 {
			margin: 15px 0;
		}
		h1 {
			margin: 20px 0;
			font-size: 28px;
		}
		h2 {
			margin: 18px 0;
			font-size: 24px;
		}
		h3 {
			margin: 16px 0;
			font-size: 20px;
		}
		h4 {
			font-size: 18px;
		}
		h5 {
			font-size: 16px;
		}
		h6 {
			font-size: 14px;
		}
		ul, ol {
			padding-left: 25px;
			> ul, ol {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		dl {
			padding: 0;
			> dt {
				padding: 0; margin-top: 10px;
				font-weight: 600;
			}
			> dd {
				margin-bottom: 15px;
				padding: 0 15px;
			}
		}
		hr {
			margin: 30px 0;
			display: block;
			height: 1px;
			background: #ccc;
			border: none;
		}
		blockquote {
			border-left: 5px solid #ddd;
			padding: 15px;
			background: #fff;
			> :first-child {
				margin-top: 0;
			}
			> :last-child {
				margin-bottom: 0;
			}
		}
		table {
			display: block;
			overflow: auto;
			width: 100%;
			padding: 0;
			border-spacing: 0;
			border-collapse: collapse;
			tbody {
				margin: 0;
				padding: 0;
				border: 0;
			}
			th {
				font-weight: bold;
			}
			th,
			td {
				border: 1px solid #ddd;
				padding: 6px 13px;
			}
			tr {
				border-top: 1px solid #ccc;
				background-color: #fff;
				&:nth-child(2n) {
					background-color: #f8f8f8;
				}
			}
		}
		code, tt {
			margin: 0 2px;
			padding: 0 5px;
			border: 1px solid #ddd;
			border-radius: 3px;
			background-color: #f8f8f8;
		}
		code {
			white-space: nowrap;
		}
		pre {
			background-color: #f8f8f8;
			border: 1px solid #ddd;
			border-radius: 3px;
			line-height: 19px;
			overflow: auto;
			padding: 10px 12px;
			> code, > tt {
				margin: 0;
				padding: 0;
				background-color: transparent;
				border: none;
			}
			> code {
				white-space: pre;
			}
		}
		.text-left {
			text-align: left;
		}
		.text-center {
			text-align: center;
		}
		.text-right {
			text-align: right;
		}
	}
	.direction {
		$offset: 30px;

		position: absolute;
		z-index: 2;
		display: block;
		top: 50%;

		a {
			position: fixed;
			top: 50%;
			display: block;
			padding: 20px 15px;
			margin-top: -#{76*.5}px;
			-webkit-transition: -webkit-transform .3s cubic-bezier(.24,1.35,.8,1.22);
			transition: transform .3s cubic-bezier(.24,1.35,.8,1.22);
			&:focus {
				outline: $border-focus;
			}
		}
		&-prev {
			left: 0 - $offset;
			> a:active {
				@include prefix(transform, translateX(-8px));
			}
		}
		&-next {
			right: 50px - $offset;
			> a:active {
				@include prefix(transform, translateX(8px));
			}
		}
		> img {
			display: block;
			width: 20px;
		}
	}
	.close {
		display: none;
		position: fixed;
		right: 5px;
		top: 5px;
		margin: 0;
		padding: 20px;
		font-size: 0;
		border: none;
		background: none;
		cursor: pointer;
		border-radius: 0;
		&__ico {
			-webkit-transition: -webkit-transform .3s cubic-bezier(.24,1.35,.8,1.22);
			transition: transform .3s cubic-bezier(.24,1.35,.8,1.22);
			&-pc {
				display: block;
				width: 24px;
				height: 24px;
			}
			&-mobile {
				display: none;
			}
		}
		&:focus {
			outline: $border-focus;
		}
		&:active {
			.close__ico {
				-webkit-transform: scale(1.5);
				transform: scale(1.5);
			}
		}
	}

	// media query
	@media screen and (max-width: 1200px) {
		.direction {
			$offset: -25px;
			&-prev {
				left: 0 - $offset;
			}
			&-next {
				right: 50px - $offset;
			}
		}
	}
	@media screen and (max-width: $size-tablet) {
		padding: 0 40px;

		.direction {
			display: none;
		}
	}
	@media screen and (max-width: $size-mobile) {
		padding: 30px 15px 0;

		&__header {
			p {
				font-size: 11px;
			}
			h1 {
				font-size: 24px;
				letter-spacing: 0;
			}
		}
		&__body {
			margin: 20px auto;
			word-break: break-all;
			hyphens: auto;
		}
		&__empty {
			img {
				width: 60px;
			}
			p {
				margin: 10px 0 0;
			}
		}

		.close {
			$size: 56px;
			$ratio: 1.4;
			padding: 0;
			right: 0;
			top: 0;
			width: $size;
			height: $size;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				left: 102%;
				top: -2%;
				margin-left: -#{$size * $ratio * .5};
				margin-Top: -#{$size * $ratio * .5};
				background: $color-key;
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				width: $size * $ratio;
				height: $size * $ratio;
			}
			&__ico {
				&-pc {
					display: none;
				}
				&-mobile {
					position: absolute;
					left: 32px;
					top: 12px;
					display: block;
					width: 12px;
					height: 12px;
					-webkit-transition: -webkit-transform .3s cubic-bezier(.24,1.35,.8,1.22);
					transition: transform .3s cubic-bezier(.24,1.35,.8,1.22);
				}
			}
			&:active {
				&:before {
					background: mix(#000, $color-key, 10%);
				}
				.close__ico {
					&-mobile {
						transform: scale(1.8);
					}
				}
			}
		}
	}
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		&__body {
			img {
				zoom: .75;
			}
		}
	}

	// touch mode
	.touch & {
		&__control {
			.onLike {
				outline: none;
				@include disable-touchable-button();
			}
		}
		.direction {
			a {
				@include disable-touchable-button();
			}
		}
		.close {
			@include disable-touchable-button();
			&:focus {
				outline: none;
			}
		}
	}
}


// for popup
.popupArticle .article {
	padding-top: 52px;
	padding-bottom: 52px;

	&__header {
		text-align: center;
	}
	&__empty {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		padding: 0;
		height: 100vh;
		@include d-flex(center, center);
		> div {
			text-align: center;
			padding-bottom: 10vh;
		}
	}

	.close {
		display: block;
	}

	@media screen and (max-width: $size-mobile) {
		padding-top: 20px;
		padding-bottom: 25px;

		&__header {
			padding: 0 0 20px;
			border-bottom: 1px solid #E6E6E6;
		}
		&__body {
			margin: 20px auto 20px;
		}
	}
}
