@import "../variables";
@import "../mixins";


// header
.layout-header {
	position: relative;
	z-index: 2;
	&__body {
		position: relative;
		padding: 30px 0 0;
	}
	&__logo {}
	&__side {
		position: absolute;
		top: 0;
		bottom: 0;
		&_left {}
	}
	&__gnb {
		margin-top: 5px;
	}

	// logo
	.logo {
		margin: 0;
		a {
			display: block;
			margin: 0 auto;
			width: 82px;
			&:focus {
				outline: $border-focus;
			}
		}
		img {
			display: block;
			width: 100%;
		}
	}

	// global navigation buttons
	.gnb {
		$self: &;

		&__children {
			position: relative;
			opacity: 0;
			pointer-events: none;
			transform: translateY(-8px);
			transition: opacity .15s ease-out, transform .2s ease-out;
		}
		&__dep-1 {
			margin: 0;
			padding: 0;
			list-style: none;
			@include d-flex(center, center);
			> li {
				> a {
					display: block;
					padding: 8px 10px;
					font-size: 13px;
					text-decoration: none;
					font-weight: 400;
					letter-spacing: .25px;
					color: #111;
				}
				&.active {
					> a {
						color: $color-key;
					}
				}
				&:hover {
					text-decoration: underline;
					.gnb__children {
						opacity: 1;
						pointer-events: auto;
						transform: translateY(0);
					}
				}
			}
		}
		&__dep-2 {
			margin: 0;
			list-style: none;
			position: absolute;
			left: -5px;
			min-width: 150px;
			background: $color-key;
			padding: 15px 0;
			border-radius: 3px;
			box-shadow: 0 2px 5px rgba(0,0,0,.15);
			> li {
				> a {
					display: block;
					padding: 4px 18px;
					color: #fff;
					text-decoration: none;
					font-size: 13px;
				}
				> a:hover,
				&.active {
					text-decoration: underline;
				}
			}
		}
	}
	.toggle-gnb {
		display: none;
	}


	// media query
	@media screen and (max-width: $size-mobile) {
		background: #fff;
		border-bottom: 1px solid #eee;

		&__body {
			padding: 0;
		}

		.logo {
			a {
				width: 60px;
				padding: 10px 0;
			}
			img {
				width: 32px;
				margin: 0 auto;
			}
		}
		.gnb {
			display: none;
			margin-top: 0;
			background: $color-panel-bg;
			padding: 20px 20px 30px;

			&-active {
				display: block;
			}

			&__children {
				pointer-events: auto;
				opacity: 1;
				transform: none;
				transition: none;
			}
			&__dep-1 {
				display: block;
				> li {
					margin: 20px 0 0;
					&:first-child {
						margin-top: 0;
					}
					> a {
						padding: 0;
						font-size: 16px;
						font-weight: 600;
						letter-spacing: -.5px;
						text-decoration: none;
						&:active {
							text-decoration: underline;
						}
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
			&__dep-2 {
				position: static;
				background: none;
				box-shadow: 0 0 0;
				max-width: none;
				margin: 5px -10px 0;
				padding: 0;
				border-radius: 0;
				@include d-flex(center);
				flex-wrap: wrap;
				> li {
					width: 50%;
					> a {
						color: #111;
						padding: 4px 10px;
						font-size: 12px;
					}
					&:active {
						text-decoration: underline;
					}
					&.active {
						text-decoration: none;
						> a {
							color: $color-key;
						}
					}
				}
			}
		}
		.toggle-gnb {
			display: block;
			height: 100%;
			margin: 0;
			padding: 0 15px;
			border-radius: 0;
			border: none;
			background: none;
			z-index: 0;
			cursor: pointer;

			span {
				position: relative;
				display: block;
				width: 18px;
				height: 18px;
			}
			span:before, span:after {
				content: '';
			}
			span:before, span:after, i {
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -1px;
				height: 2px;
				width: 18px;
				background: #111;
				-webkit-transition: -webkit-transform .25s ease-out;
				-moz-transition: -moz-transform .25s ease-out;
				transition: transform .25s ease-out;
			}
			span:before {
				@include prefix(transform, scaleX(1) translateY(-4px));
				@include prefix(transform-origin, 50% 50%);
			}
			i {
				@include prefix(transform-origin, 0 0);
				@include prefix(transform, scaleX(.45) translateY(0px));
			}
			span:after {
				@include prefix(transform, scaleX(.75) translateY(4px) translateX(-15.5%));
				@include prefix(transform-origin, 50% 50%);
			}
			&:active {
				span:before {
					@include prefix(transform, scaleX(1) translateX(0) translateY(-4px) rotate(5deg));
				}
				i {
					@include prefix(transform, scaleX(.40) translateY(0));
				}
				span:after {
					@include prefix(transform, scaleX(.8) translateX(-14%) translateY(4px) rotate(-8deg));
				}
			}
			&:focus {
				outline: $border-focus;
			}
			&-active {
				span:before {
					@include prefix(transform, scale(1.2) translateX(0) translateY(0) rotate(135deg));
				}
				i {
					@include prefix(transform, scaleX(0) translateY(0));
				}
				span:after {
					@include prefix(transform, scale(1.2) translateX(0) translateY(0) rotate(-135deg));
				}
				&:active {
					span:before {
						@include prefix(transform, scale(1.15) translateX(0) translateY(0) rotate(120deg));
					}
					i {
						@include prefix(transform, scaleX(0) translateY(0));
					}
					span:after {
						@include prefix(transform, scale(1.15) translateX(0) translateY(0) rotate(-120deg));
					}
				}
			}
		}
	}


	// touch mode
	.touch & {
		.logo {
			a {
				@include disable-touchable-button();
				&:focus {
					outline: none;
				}
			}
		}
		.toggle-gnb {
			@include disable-touchable-button();
			&:focus {
				outline: none;
			}
		}
	}
}