@use '../../../assets/scss/mixins';

.lightbox {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background: hsl(var(--color-bg-hsl) / 65%);
  @include mixins.background-blur(32px);
  &__image {
    display: grid;
    place-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    img {
      display: block;
      max-width: 88vw;
      max-height: 88vh;
      object-fit: contain;
      border-radius: 2px;
    }
  }
  &__close {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    background: none;
    -webkit-tap-highlight-color: transparent;
    cursor: zoom-out;
    box-sizing: border-box;
  }
}
