@import "./normalize";
@import "./libs/valiables";
@import "./libs/mixins";
@import "./fonts";

body {
	margin: 0;
	min-width: 320px;
	color: $color-text-base;
	text-size-adjust: 100%;
	background: $color-bg;
	-webkit-touch-callout: none;
	@include dark-mode() {
		color: $color-dark-text-base;
		background: $color-dark-bg;
	}
}
body,
button,
input,
textarea,
select {
	font-family: $font-system;
	text-size-adjust: none;
	font-size: 1rem;
	line-height: 1.54;
}
a {
	color: $color-key;
	@include dark-mode() {
		color: $color-dark-key;
	}
}
code,
kbd,
pre,
samp {
	font-family: $font-console;
}

::selection {
	background: $color-key;
	color: #fff;
}

// load contents
@import "./layout";
@import "./index";
@import "./detail";
@import "./error";
@import "./pages";