@import "./libs/valiables";
@import "./libs/mixins";
@import "~redgoose-content-body";

.detail {
  margin: 40px 0 0;
  padding: 0 $size-side-padding;

  &__header {
    text-align: center;
    p {
      margin: 0;
      color: #aaa;
      font-size: 0;
      span {
        display: inline-block;
        font-family: $font-circular;
        font-size: .625rem;
        &:nth-child(n+2):before {
          content: '/';
          display: inline-block;
          margin: 0 5px;
          line-height: 1.2;
        }
      }
    }
    h2 {
      margin: 1px 0 0;
      padding: 0 20px;
      font-weight: 600;
      font-size: 1.75rem;
      letter-spacing: -1px;
      line-height: 1.2;
    }
  }
  &__body {
    margin: 20px 0 0;
  }
  &__like {
    margin: 40px 0 0;
    text-align: center;
    button {
      display: block;
      margin: 0 auto;
      padding: 10px 10px;
      border: none;
      background: transparent;
      font-size: 0;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      outline: none;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      transition: box-shadow 100ms ease-out, background-color 250ms ease-out;
      user-select: none;
      span {
        display: block;
      }
      svg {
        display: block;
        margin: 0 auto;
        width: 38px;
        height: 38px;
        transition: transform 300ms cubic-bezier(.24, 1.35, .8, 1.22);
        .step-1 {
          color: #EB6635;
        }
        .step-2 {
          color: #B31E36;
        }
        .step-3 {
          color: #3422FF;
        }
      }
      em {
        display: block;
        margin: -2px 0 0;
        font-style: normal;
        font-family: $font-circular;
        font-size: 11px;
        font-weight: 400;
        color: #aaa;
        transition: opacity 150ms ease-out;
      }
      &.on,
      &:disabled {
        cursor: default;
        svg {
          .step-1,
          .step-2,
          .step-3 {
            color: #aaa;
          }
        }
        &:focus {
          outline: none;
        }
        &:active {
          svg {
            transform: none;
          }
        }
      }
      &:active,
      &:focus {
        background: rgba(#000, .05);
        svg {
          transform: scale(1.4) translateY(6px);
        }
        em {
          opacity: 0;
        }
      }
    }
  }
  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    img {
      display: block;
      width: 232px;
      max-width: 100%;
    }
    p {
      margin: 30px 0 0;
      text-align: center;
      font-family: $font-circular;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  @include responsive(tablet) {
    margin: 50px 0 0;
    padding: 0 $size-side-padding-desktop;

    &__wrap {
      max-width: 768px;
      margin: 0 auto;
    }
    &__header {
      p {
        span {
          font-size: .75rem;
        }
      }
      h2 {
        font-size: 2.25rem;
      }
    }
    &__body {
      margin: 40px 0 0;
    }
  }
  @include dark-mode() {
    &__header {
      p {
        color: #888;
      }
      h2 {
        color: #fff;
      }
    }
    &__like {
      button {
        em {
          color: mix(#000, $color-dark-text-base, 50%);
        }
        &:active,
        &:focus {
          background: rgba(#000, .15);
        }
      }
    }
  }
}
