@import "./mixins";

// index
.index {
  --size-intro-margin-top: 32px;
  --size-works-gap: 16px;
  margin: var(--size-intro-margin-top) 0 0;
  @include responsive(tablet) {
    --size-intro-margin-top: 36px;
  }
  @include responsive(desktop) {
    --size-intro-margin-top: 62px;
    --size-works-gap: 24px;
  }
  @include responsive(max) {
    --size-works-gap: 30px;
  }
}

// header
.index-header {
  --color-index-header-title: var(--color-text);
  margin: 0 0 24px;
  padding: 0 var(--size-side-padding);
  &__title {
    margin: 0;
    text-align: center;
    font-family: var(--font-title);
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: normal;
    font-weight: 500;
    color: var(--color-index-header-title);
  }
  @include responsive(tablet) {
    &__title {
      font-size: 38px;
    }
  }
  @include dark-mode() {
    --color-index-header-title: #fff;
  }
}

// categories
.index-categories {
  --count-categories-column: 2;
  margin: 16px calc(var(--size-side-padding) * -1) calc(var(--size-side-padding) * -1);
  user-select: none;
  > button {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0 var(--size-side-padding);
    border: none;
    background: none;
    background: #eee;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    color: var(--color-text);
    &:active {
      opacity: .5;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 44px;
      box-sizing: border-box;
    }
    em {
      display: flex;
      font-family: var(--font-eng);
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: -.25px;
    }
    svg {
      display: block;
      margin-right: 3px;
      width: 12px;
      height: 6px;
      transition: transform 200ms ease-out;
    }
  }
  > nav {
    display: none;
    background: #f4f4f4;
    padding: 15px 0;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(var(--count-categories-column), 1fr);
    }
    li {
      font-size: 0;
    }
    a {
      display: block;
      padding: 8px var(--size-side-padding);
      font-family: var(--font-eng);
      font-size: .8125rem;
      font-weight: 400;
      color: var(--color-text);
      text-decoration: none;
      box-sizing: border-box;
      letter-spacing: -.25px;
      -webkit-tap-highlight-color: transparent;
      &:active {
        opacity: .5;
      }
    }
    em {
      font-style: normal;
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
    li.on a {
      color: var(--color-key);
      &:active {
        opacity: 1;
      }
    }
  }
  &--on {
    > button {
      background: #ddd;
      svg {
        transform: scaleY(-1);
      }
    }
    > nav {
      display: block;
    }
  }
  @include responsive(mobile-large) {
    --count-categories-column: 3;
    margin-bottom: -8px;
  }
  @include responsive(tablet) {
    margin: 4px 0 10px;
    > button {
      display: none;
    }
    > nav {
      display: block;
      background: none;
      margin: 0;
      padding: 0;
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
      }
      li {
        width: auto;
      }
      a {
        padding: 0 6px;
        font-size: .75rem;
        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
      li.on a {
        color: var(--color-key);
        &:active {
          opacity: 1;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  @include dark-mode() {
    > button {
      background: #111;
      &:active {
        opacity: .75;
      }
    }
    &--on {
      > button {
        opacity: .75;
      }
      > nav {
        background: #1a1a1a;
      }
    }
    @include responsive(tablet) {
      > nav {
        background: none;
      }
    }
  }
}

// works
.index-works {
  --count-works-column: 1;
  --size-works-margin-top: 0;
  --side-works-padding: 0;
  margin: var(--size-works-margin-top) auto 0;
  padding: var(--side-works-padding);
  &__list {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: var(--size-works-gap);
    grid-template-columns: repeat(var(--count-works-column), 1fr);
  }
  &--body {
    --size-works-margin-top: 32px;
  }
  @include responsive(mobile-large) {
    --count-works-column: 2;
    --side-works-padding: 0 var(--size-side-padding);
    --size-works-margin-top: 32px;
  }
  @include responsive(tablet) {
    --size-works-margin-top: 32px;
  }
  @include responsive(desktop) {
    --count-works-column: 4;
    &--head {
      --size-works-margin-top: 30px;
    }
    &--body {
      --size-works-margin-top: 36px;
    }
  }
}

// work
.index-work {
  $self: '.index-work';
  --size-image-height: 68vw;
  --size-image-max-height: auto;
  box-sizing: border-box;
  min-width: 0;
  &__wrap {
    display: block;
    text-decoration: none;
    padding: 0 0 8px;
    -webkit-tap-highlight-color: transparent;
  }
  &__image {
    position: relative;
    margin: 0;
    overflow: hidden;
    background: #f1f1f1;
    height: var(--size-image-height);
    max-height: var(--size-image-max-height);
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 100%;
      transform: translate(-50%, -50%) scale(1);
      transform-origin: 50% 50%;
      transition: transform 200ms ease-out 50ms;
      @supports (object-fit: cover) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
      }
    }
    svg {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 48px;
      height: 48px;
      color: var(--color-text-blur);
      opacity: .75;
    }
    &:active {
      img {
        transform: scale(1.05);
      }
    }
  }
  &__caption {
    padding: 12px 20px 0;
    text-align: center;
    strong {
      display: block;
      font-size: .875rem;
      color: var(--color-text);
      font-weight: 600;
      line-height: 1.25;
      @include text-single-line();
    }
    span {
      display: block;
      margin: 2px 0 0;
      font-family: var(--font-eng);
      font-size: .625rem;
      color: var(--color-text-blur);
    }
    em {
      font-style: normal;
      &:nth-child(n+2) {
        &:before {
          content: ' / ';
        }
      }
    }
  }
  @include responsive(mobile-large) {
    --size-image-height: 28vw;
    &__caption {
      padding: 10px 0 0;
      text-align: left;
    }
  }
  @include responsive(tablet) {
    &__wrap {
      &:hover {
        #{$self}__image {
          img {
            transform: scale(1.1) translate(-45%, -45%);
            @supports (object-fit: cover) {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    &__image {
      box-sizing: border-box;
      overflow: hidden;
      transform: translateZ(0);
      img {
        transition: transform 300ms ease-out;
        transform-origin: 50% 50%;
        backface-visibility: hidden;
      }
    }
  }
  @include responsive(desktop) {
    --size-image-height: 15vw;
    --size-image-max-height: 200px;
  }
  @include responsive(max) {
    --size-image-height: 20vw;
    --size-image-max-height: 240px;
  }
  @include dark-mode() {
    &__image {
      background: #111;
    }
  }
}

// random works
.index-random-works {
  position: relative;
  margin: 16px 0 0;
  padding: 32px 0 0;
  box-sizing: border-box;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 100vw;
    max-width: 100%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    background: rgba(#000, .05);
    box-sizing: border-box;
  }
  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    @include horizontal-scroll-wrap(24px, 16px);
  }
  &__item {
    --size-image-height: 55vw;
    --size-image-max-height: 240px;
    @include horizontal-scroll-item(16px, 24px);
    width: 80vw;
  }
  @include responsive(mobile-large) {
    &__item {
      --size-image-height: 28vw;
      width: 40vw;
    }
  }
  @include responsive(tablet) {
    margin-top: 24px;
    padding-top: 36px;
    &__list {
      @include horizontal-scroll-wrap(54px, 16px);
    }
    &__item {
      @include horizontal-scroll-item(24px, 54px);
      --size-image-max-height: 240px;
    }
  }
  @include responsive(desktop) {
    padding: 48px var(--size-side-padding) 36px;
    &__list {
      max-width: 1440px;
      overflow: visible;
      white-space: normal;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: var(--size-works-gap);
      padding: 0;
      margin: 0 auto;
    }
    &__item {
      --size-image-height: 15vw;
      --size-image-max-height: 200px;
      display: block;
      margin-left: 0;
      padding: 0;
      width: auto;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include responsive(max) {
    &__item {
      --size-image-height: 20vw;
      --size-image-max-height: 240px;
    }
  }
  @include dark-mode() {
    &:before {
      background: rgba(0,0,0,.25);
    }
  }
}

.index-empty {
  padding: 62px 0;
  img {
    width: 180px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  p {
    margin: 32px 0 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--font-eng);
  }
}

// paginate
.index-paginate {
  --size-paginate-item: 48px;
  --size-paginate-item-text: 14px;
  --color-paginate-active-bg: #ddd;
  margin: 16px 0 0;
  .paginate {
    align-items: center;
    justify-content: center;
    strong,
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size-paginate-item);
      height: var(--size-paginate-item);
      font-family: var(--font-eng);
      font-size: var(--size-paginate-item-text);
      color: var(--color-text);
      font-weight: 500;
      box-sizing: border-box;
      user-select: none;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
    }
    a:active {
      background: var(--color-paginate-active-bg);
      border-radius: 2px;
    }
    strong {
      color: var(--color-key);
    }
    &__prev,
    &__next {
      font-size: 0;
      svg {
        display: block;
      }
    }
    &--mobile {
      display: flex;
    }
    &--desktop {
      display: none;
    }
  }
  @include responsive(tablet) {
    --size-paginate-item: 40px;
    margin-top: 32px;
    .paginate {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: flex;
      }
    }
  }
  @include dark-mode() {
    --color-paginate-active-bg: #1a1a1a;
  }
}

// intro
.intro {
  &__title {
    font-size: 0;
  }
  &__index {
    --size-intro-margin-top: 0px;
  }
  @include responsive(mobile-large) {
    &__index {
      --size-intro-margin-top: var(--size-side-padding);
    }
  }
  @include responsive(tablet) {
    &__index {
      --size-intro-margin-top: 64px;
    }
  }
  @include responsive(max) {
    &__index {
      --size-intro-margin-top: 72px;
    }
  }
}
