@import "./mixins";

body {
  overflow-x: hidden;
}
main {
  &:before {
    content: '';
    display: block;
    height: var(--size-header-height);
    background: var(--color-bg);
  }
}

// page title
.page-title {
  position: absolute;
  font-size: 1px;
  margin: 0;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: .01;
  overflow: hidden;
}

// header
.layout-header {
  --color-header-button-fill: #222;
  --color-header-line: #ccc;
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--size-header-height);
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,.9);
    @supports (backdrop-filter: blur(15px)) {
      background: rgba(#fff,.75);
      backdrop-filter: blur(12px);
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-header-line);
    height: 1px;
    transform: scaleY(.5);
    transform-origin: 0 100%;
    pointer-events: none;
  }
  &__wrap {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0;
    z-index: 2;
    transform: translateX(-50%);
    a {
      display: block;
      padding: 5px;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }
    img {
      display: block;
      width: 76px;
    }
  }
  &__buttons {
    > button {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: var(--size-header-height);
      height: var(--size-header-height);
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
      background: none;
      cursor: pointer;
      outline: none;
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
        color: var(--color-header-button-fill);
        transition: transform 200ms ease-out;
        &:nth-child(1) {
          transform: translate(-50%, -50%) scale(1);
        }
        &:nth-child(2) {
          transform: translate(-50%, -50%) scale(0);
        }
      }
      &:active {
        svg {
          &:nth-child(1) {
            transform: translate(-50%, -50%) scale(.75);
          }
        }
      }
      &.navigation {
        left: 0;
      }
      &.search {
        right: 0;
      }
      &.on {
        svg {
          &:nth-child(1) {
            transform: translate(-50%, -50%) scale(0);
          }
          &:nth-child(2) {
            transform: translate(-50%, -50%) scale(1);
          }
        }
        &:active {
          svg {
            &:nth-child(2) {
              transform: translate(-50%, -50%) scale(.75);
            }
          }
        }
      }
    }
  }
  @media (orientation: landscape) {
    position: absolute;
  }
  @include responsive(tablet) {
    padding: 0 var(--size-side-padding);
    &__logo {
      left: 24px;
      top: 6px;
      margin: 0;
      transform: none;
      a {
        padding: 0;
      }
      img {
        width: 86px;
      }
    }
    &__buttons {
      display: none;
    }
  }
  @include responsive(desktop) {
    @media (orientation: landscape) {
      position: fixed;
    }
  }
  @include dark-mode() {
    --color-header-button-fill: #fff;
    --color-header-line: #333;
    &:before {
      background: rgba(#000,.9);
      @supports (backdrop-filter: blur(15px)) {
        background: rgba(#000,.65);
      }
    }
  }
}
.header-navigation {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: var(--size-header-height);
  box-sizing: border-box;
  padding: 24px var(--size-side-padding) 30px;
  @include color-linear-gradient(var(--color-key), #CC5B40, #7B2A79);
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity 200ms ease-out;
  @supports (backdrop-filter: blur(15px)) {
    background: rgba(var(--rgb-key),.8);
    backdrop-filter: blur(15px);
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      &:nth-child(n+2) {
        margin-top: 15px;
      }
      > a {
        display: block;
        font-family: var(--font-eng);
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        transition: opacity 200ms ease-out;
        -webkit-tap-highlight-color: transparent;
        &:active {
          opacity: .5;
        }
      }
    }
  }
  ol {
    margin: 6px 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    a {
      display: block;
      padding: 7px 15px 7px 0;
      box-sizing: border-box;
      color: #fff;
      font-family: var(--font-eng);
      line-height: 1.42;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition: opacity 200ms ease-out;
      &:active {
        opacity: .5;
      }
    }
  }
  &.on {
    opacity: 1;
    pointer-events: auto;
  }
  @include responsive(tablet) {
    display: block;
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    height: var(--size-header-height);
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0;
    transition: none;
    opacity: 1;
    pointer-events: auto;
    @supports (backdrop-filter: blur(0px)) {
      backdrop-filter: blur(0px);
    }
    ul {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        height: 100%;
        &:nth-child(n+2) {
          margin-top: 0;
        }
        > a {
          display: flex;
          height: 100%;
          align-items: center;
          box-sizing: border-box;
          padding: 0 24px;
          font-family: var(--font-eng);
          font-weight: 600;
          font-size: .875rem;
          color: var(--color-text);
          text-decoration: none;
          transition: color 200ms ease-out, background 200ms ease-out;
          &:active {
            opacity: 1;
          }
        }
        > div {
          position: relative;
          > ol {
            opacity: 0;
            pointer-events: none;
          }
        }
        &:focus-within,
        &:hover {
          > a {
            background: rgba(255,255,255,.75);
            color: var(--color-key);
          }
          > div {
            > ol {
              opacity: 1;
              pointer-events: auto;
            }
          }
        }
        &.on {
          > a {
            color: var(--color-key);
          }
        }
      }
    }
    ol {
      display: block;
      margin: 0;
      padding: 16px 0;
      list-style: none;
      position: absolute;
      left: 0;
      top: 0;
      min-width: 120px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background: rgba(var(--rgb-key),.95);
      transition: opacity 200ms ease-out;
      > li {
        > a {
          font-family: var(--font-eng);
          display: block;
          padding: 4px 25px;
          color: #fff;
          font-size: .75rem;
          font-weight: 500;
          text-decoration: none;
          white-space: nowrap;
          &:hover,
          &:active {
            opacity: .5;
          }
        }
        &.on {
          > a {
            text-decoration: underline;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  @include dark-mode() {
    @include responsive(tablet) {
      ul {
        > li {
          &:focus-within,
          &:hover {
            > a {
              background: rgba(30,30,30,.5);
            }
          }
        }
      }
      ol {
        @include color-linear-gradient(rgba(var(--rgb-key),.95), rgba(var(--rgb-key),.95), rgba(0,133,113,.95));
      }
    }
  }
}

// footer
.layout-footer {
  margin: 44px 0 0;
  padding: 0 0 20px;
  box-sizing: border-box;
  &__copyright {
    text-align: center;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    color: var(--color-text-blur);
    user-select: none;
  }
  @include responsive(tablet) {
    margin: 70px 0 0;
  }
}
