@import "./libs/valiables";
@import "./libs/mixins";

.about {
	padding: 50px $size-side-padding 40px;

	&__wrap {
		max-width: 920px;
		margin: 0 auto;
	}
	&__header {
		text-align: center;
		p {
			margin: 0;
			font-family: $font-circular;
			font-size: 11px;
			color: #aaa;
		}
		h2 {
			margin: 2px 0 0;
			font-family: $font-circular;
			font-size: 32px;
			font-weight: 600;
			line-height: 1;
			letter-spacing: -1px;
		}
	}
	&__profile {
		margin: 30px 0 0;
		padding: 0 40px;
		img {
			display: block;
			margin: 0 auto;
			width: 180px;
			max-width: 100%;
			user-select: none;
		}
	}
	&__description {
		margin: 30px 0 0;
		p {
			margin: 0;
			font-size: .875rem;
			line-height: 1.64;
		}
	}
	&__metas {
		margin: 30px 0 0;
		section {
			margin: 30px 0 0;
			&:first-child {
				margin-top: 0;
			}
			> h3 {
				margin: 0;
				font-family: $font-circular;
				font-size: 22px;
				letter-spacing: -.5px;
				font-weight: 600;
				&:after {
					content: '';
					display: block;
					width: 12px;
					height: 1px;
					background: #111;
				}
			}
			> dl {
				margin: 10px 0 0;
				font-size: 12px;
				line-height: 20px;
				> dt {
					margin-top: 12px;
					font-family: $font-circular;
					font-weight: 500;
					font-size: 15px;
					color: #111;
				}
				> dd {
					margin: 5px 0 0;
					font-family: $font-circular;
				}
			}
		}
	}

	@include responsive(tablet) {
		padding: 50px 50px 0;
		&__header {
			p {
				font-size: 12px;
			}
			h1 {
				font-size: 40px;
				letter-spacing: -.5px;
			}
		}
		&__profile {
			margin: 40px 0 0;
			img {
				width: 240px;
			}
		}
		&__description {}
		&__metas {
			margin: 50px 0 0;
			> div {
				display: flex;
				flex-wrap: wrap;
			}
			section {
				width: 50%;
				margin: 0;
				padding: 0 0 40px;
			}
		}
	}
	@include responsive(tablet) {
		&__header {
			h2 {
				font-size: 36px;
				line-height: 1.15;
				letter-spacing: -1.5px;
			}
		}
	}
	@include responsive(desktop) {
		&__metas {
			section {
				> dl {
					> dt {
						margin: 0;
						padding: 4px 0 0;
						float: left;
						width: 90px;
						font-size: 12px;
						line-height: 20px;
						color: #666;
						font-weight: 400;
					}
					> dd {
						margin: 0 0 0 90px;
						padding: 4px 0 0;
						line-height: 20px;
					}
				}
			}
		}
	}
	@include dark-mode() {
		&__metas {
			section {
				> h3 {
					&:after {
						background: #999;
					}
				}
				> dl {
					> dt {
						color: #fff;
					}
				}
			}
		}
	}
}