@use '../../scss/mixins';

.item {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  &:focus-visible {
    outline: none;
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      pointer-events: none;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      outline: 3px dashed var(--color-key);
      outline-offset: 4px;
    }
  }
  .image {
    position: relative;
    margin: 0;
    overflow: hidden;
    background: mixins.mix-color(var(--color-edge), var(--color-reverse), 86%);
    aspect-ratio: var(--item-ratio, 16 / 9);
    box-sizing: border-box;
    user-select: none;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 100%;
      transform: translate(-50%, -50%) scale(1);
      transform-origin: 50% 50%;
      transition: transform 200ms ease-out 50ms;
      @supports (object-fit: cover) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
      }
    }
    i {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      --icon-size: 48px;
      --icon-color: var(--color-weak);
      --icon-stroke: .5;
    }
    &:active {
      img {
        transform: scale(1.05);
      }
    }
  }
  .body {
    padding: 12px 20px 0;
    text-align: center;
    user-select: none;
    h3 {
      display: block;
      margin: 0;
      font-size: 14px;
      color: var(--color-text);
      font-weight: 600;
      line-height: 1.25;
      @include mixins.text-single-line();
    }
    p {
      display: block;
      margin: 2px 0 0;
      font-family: var(--font-eng);
      font-size: 10px;
      color: var(--color-weak);
      @include mixins.text-single-line();
    }
  }
  @include mixins.responsive(mobile-large) {
    .image {
      border-radius: 2px;
      aspect-ratio: var(--item-ratio, 6 / 4);
    }
    .body {
      padding: 8px 0 0;
      text-align: left;
    }
  }
  @include mixins.responsive(tablet) {}
  @include mixins.dark-mode() {}
}
