@use '../assets/scss/mixins';

.article {
  --article-side-padding: 24px;
  --article-top-margin: 42px;
  margin: var(--article-top-margin) 0 0;
  padding: 0 var(--article-side-padding);
  &__header {
    text-align: center;
    padding: 0 var(--article-side-padding);
    p {
      margin: 0;
      color: var(--color-text-blur);
      font-size: 0;
      span, em {
        display: inline-block;
        font-size: 10px;
        font-family: var(--font-eng);
      }
      span {
        &:nth-child(n+2):before {
          content: '/';
          display: inline-block;
          margin: 0 8px;
          line-height: 1.2;
          opacity: .5;
        }
      }
      em {
        font-style: normal;
        &:before {
          content: '|||';
          display: inline-block;
          margin: 0 8px;
          line-height: 1.2;
          opacity: .5;
          letter-spacing: -1px;
        }
      }
    }
    h1 {
      margin: 4px 0 0;
      padding: 0 16px;
      letter-spacing: -.1rem;
      line-height: 1.25;
      font-weight: 700;
      font-size: 32px;
    }
  }
  &__body {
    margin: 24px 0 0;
    min-height: 15vh;
  }
  &__star {
    margin: 40px 0 0;
    text-align: center;
  }
  &__empty {
    height: 100vh;
    min-height: calc(75vh - var(--size-header-height));
    max-height: calc(75vh - var(--size-header-height));
  }
  @include mixins.responsive(tablet) {
    --article-side-padding: 62px;
    --article-top-margin: 52px;
    &__header {
      p {
        span, em {
          font-size: 12px;
        }
      }
      h1 {
        margin: 6px 0 0;
        padding: 0;
        font-size: 44px;
        line-height: 1.15;
      }
    }
    &__body {
      max-width: 900px;
      margin: 48px auto 0;
    }
  }
  @include mixins.dark-mode() {
    &__header {
      p {
        color: hsl(0 0% 53%);
      }
      h1 {
        color: hsl(0 0% 100%);
      }
    }
  }
}
