@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?p9f2ab');
	src:url('fonts/icomoon.eot?p9f2ab#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?p9f2ab') format('truetype'),
		url('fonts/icomoon.woff?p9f2ab') format('woff'),
		url('fonts/icomoon.svg?p9f2ab#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\e800";
}
.icon-close:before {
	content: "\e600";
}
.icon-goose:before {
	content: "\e601";
}
.icon-hamburger:before {
	content: "\e602";
}
.icon-prev:before {
	content: "\e603";
}
.icon-next:before {
	content: "\e604";
}

