@use '../../scss/mixins';

.home {
  > h1 {
    font-size: 0;
    visibility: hidden;
  }
}

.body {
  margin: var(--size-body-top, 0) 0 0;
  @include mixins.responsive(mobile-large) {
    margin-top: 30px;
  }
  @include mixins.responsive(tablet) {
    margin-top: 64px;
  }
  @include mixins.responsive(desktop) {
    margin-top: 72px;
  }
}

.empty {
  height: auto;
  padding: 32px 0 24px;
}

.pagination {
  margin: 24px 0 0;
  .paginate--desktop {
    display: none;
  }
  @include mixins.responsive(tablet) {
    margin-top: 42px;
    .paginate--mobile {
      display: none;
    }
    .paginate--desktop {
      display: flex;
    }
  }
}
