// rotate
@-webkit-keyframes roty {
	from { -webkit-transform: rotate(0deg); }
	to   { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes roty {
	from { -moz-transform: rotate(0deg); }
	to   { -moz-transform: rotate(360deg); }
}
@-ms-keyframes roty {
	from { -ms-transform: rotate(0deg); }
	to   { -ms-transform: rotate(360deg); }
}
@keyframes roty {
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}