@import "variables";


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	//touch-action: manipulation;
}
body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	background: $color-bg;
}
body, input, button {
	font-family: $font-family, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #111;
}
a {
	color: $color-key;
}
main {
	&.disabled {
		display: none;
	}
	&.hidden {
		opacity: 0;
	}
}


.blind {
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.container {
	margin: 40px 0 0;

	@media screen and (max-width: $size-mobile) {
		margin: 0;
	}
}