@import "variables";


@mixin load-font($fileName) {
	src: url('#{$font-url}/#{$fileName}.eot');
	src: url('#{$font-url}/#{$fileName}.eot?#iefix') format('embedded-opentype'),
		url('#{$font-url}/#{$fileName}.woff2') format('woff2'),
		url('#{$font-url}/#{$fileName}.woff') format('woff'),
		url('#{$font-url}/#{$fileName}.otf') format('truetype');
}


@font-face {
	font-family: $font-family;
	font-style: normal;
	font-weight: 200;
	src: local('NotoSansCJKkr-Light'), local('Noto Sans CJK KR Light'), local('Noto Sans Light');
	@include load-font('NotoSans-Light');
}

@font-face {
	font-family: $font-family;
	font-style: normal;
	font-weight: 400;
	src: local('NotoSansCJKkr-Regular'), local('Noto Sans CJK KR Regular'), local('Noto Sans Regular');
	@include load-font('NotoSans-Regular');
}

@font-face {
	font-family: $font-family;
	font-style: normal;
	font-weight: 600;
	src: local('NotoSansCJKkr-Bold'), local('Noto Sans CJK KR Bold'), local('Noto Sans Bold');
	@include load-font('NotoSans-Bold');
}