// global


// fonts
$font-family: 'Noto Sans CJK KR';
$font-url: '../assets/fonts';


// color
$color-key: #b31f37;
$color-bg: #fafbfc;
$color-panel-bg: #ecedef;


// size
$size-mobile: 640px;
$size-tablet: 768px;
$size-article: 900px;
$size-mobile-header-height: 52px;


// border
$border-focus: thin dotted #666;