doctype html
html(lang="ko")
  head
    include ./layout/head
  body
    main
      include ./layout/header
      if error && error.status
        include ./components/error
      else
        if bodyItems && bodyItems.length > 0
          section
            h1 redgoose works
            ul
              each o in bodyItems
                li
                  include ./components/index-item
        if randomItems && randomItems.length > 0
          section
            h1 random works
            ul
              each o in randomItems
                li
                  include ./components/index-item
        if paginate && paginate.length > 0
          include ./components/paginate
      include ./layout/footer
