doctype html
html(lang="ko")
  head
    include ./layout/head
  body
    main
      include ./layout/header
      if error && error.status
        include ./components/error
      else
        article
          h1 #{nest.title}#{categoryName ? ` / ${categoryName}` : ''}
          if categories && categories.length > 0
            include ./components/categories
          if articles && articles.length > 0
            article
              h1 Articles
              ul
                each o in articles
                  li
                    include ./components/index-item
          if paginate && paginate.length > 0
            include ./components/paginate
      include ./layout/footer
